<div class="userinfo-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('hideandchef-logo.png' , size: '256x173'), "/" %>
  </header>
  <div class="AccountPage">
    <div class='card-form'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class='form-wrap-mp'>
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>
      <br>
      <div class='form-wrap-mp'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="button">
        <%= f.submit "ユーザー情報更新" %>
      </div>
    <% end %>
    </div>
  </div>
  <br>
  <br>
  <p><%= link_to "マイページへ戻る", user_path(current_user.id) %></p>
  <br>
  <p><%= link_to "Topへ戻る", root_path %></p>
  
  <footer class="items-sell-footer">
    <p class="inc">
      ©︎Hide and Chef,Inc.
    </p>
  </footer>
</div>