<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のキャッチコピー部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      どこをお店にしたっていいんです
    </h2>
    <p class='service-explain'>
      Hide and Chefはだれでもかんたんに出店・集客できる
    </p>
    <p class='service-explain'>
      ゴーストレストラン作成サービスです
    </p>
  </div>
  <%# //画面上部のキャッチコピー部分  %>

  <%# Hide and Chefの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      Hide and Chefの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "table.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          出店場所はどこでもOK！
        </h3>
        <p class='feature-list-description'>
          レンタルスペース、シェアキッチン、あなたの自宅、海でも川でも！友人を呼ぶ感覚で
        </p>
      </li>
      <li class='list'>
        <%= image_tag "money.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          クラウドファンディング可能！
        </h3>
        <p class='feature-list-description'>
          応援してもらって、開業資金も貯めちゃおう
        </p>
      </li>
      <li class='list'>
        <%= image_tag "feedback.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          レシピをレビューしてもらえる！
        </h3>
        <p class='feature-list-description'>
          あなたのレシピをブラッシュアップ
        </p>
      </li>
    </ul>
  </div>
  <%# //Hide and Chefの特徴 %>

  <%# シェフ一覧 %>
  <div class='item-contents'>
    <h2 class='title'>Pickup Chef</h2>
    <ul class='item-lists'>
      <% @chefs.each do |chef| %>
      <li class='list'>
        <%= link_to "/chefs/#{chef.user_id}" do %>        
        <div class='item-img-content'>
          <%= image_tag chef.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= chef.name %>
          </h3>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# //シェフ一覧 %>  

  <%# ジャンル一覧 %>
  <%= render "shared/genre" %>
  <%# //ジャンル一覧 %>
</div>

<% if user_signed_in? %>
  <% unless @chefs.exists?(user_id: current_user.id) %> <%# すでに出店済みのユーザーには出店ボタンを表示しない %>
    <div class='purchase-btn'>
    <span class='purchase-btn-text'>出店する</span>
      <a href="/chefs/new">
        <%= image_tag 'chef.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      </a>
    </div>
  <% end %>
<% else %>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>出店する</span>
      <a href="/users/sign_in">
        <%= image_tag 'chef.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      </a>
  </div>
<% end %>

<%= render "shared/footer" %>