<%= render "shared/header" %>

<%# シェフの概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @chef.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @chef.image ,class:"item-box-img" %>
    </div>
    <div class="item-explain-box">
      <span><%= @chef.explanation %></span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @chef.user_id %>
        <% unless @chef.course.present? %>
          <%= link_to 'コース料理の登録', "/chefs/#{@chef.id}/courses/new", method: :get, class: "item-red-btn" %>
         <% else %>
          <%= link_to 'コース料理の編集', "/chefs/#{@chef.id}/courses/#{@chef.course.id}/edit", method: :get, class: "item-red-btn" %>
          <%= link_to 'コース料理の削除', "/chefs/#{@chef.id}/courses/#{@chef.course.id}", method: :delete, data: { confirm: '登録済みのコース料理を削除してよろしいですか?' }, class: "item-red-btn" %>
         <% end %> 
        <p class='or-text'>or</p>
        <%= link_to 'シェフを辞める', "/chefs/#{current_user.id}", method: :delete, data: { confirm: '本当にシェフを辞めますか?' }, class:'item-destroy' %>
      <% end %>
    <% end %>

    <%# /コース料理情報の表示%>  
    <% if @chef.course.present? %>
      <%= @chef.course.menu1 %>
      <%= @chef.course.menu2 %>
      <%= @chef.course.menu3 %>
      <% @chef.course.images.each do |image| %>
        <%= image_tag image, class:"item-box-img" %>
      <% end %>
      <%= @chef.course.explanation %>
    <% end %>
    <%# //コース料理情報の表示%>

    <% if user_signed_in? %>
      <% if current_user.id != @chef.user_id %>
        <%= link_to '予約画面に進む', new_order_path(@chef) ,class:"item-red-btn" %>
      <% end %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @chef.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @chef.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">こだわり</th>
          <td class="detail-value"><%= @chef.commitment %></td>
        </tr>
        <tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>

<%= render "shared/footer" %>