  <%# /ジャンル一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ジャンル一覧</h2>
      <ul class='item-lists'>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "japanesefood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>和食</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "westernfood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>洋食</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "chinesefood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>中華</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "italianfood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>イタリアン</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "frenchfood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>フレンチ</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "asiafood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>アジア・エスニック</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "vegefood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>ベジタリアン</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "viganfood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>ヴィーガン</h3>
          </div>
          <% end %>
        </li>
        <li class='list'>
          <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag "anotherfood-cate.jpg", class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>その他</h3>
          </div>
          <% end %>
        </li>
    </ul>
  </div>
  <%# //ジャンル一覧 %>
